
P_03.5_Calculadora_V0/.vs/P_03.5_Calculadora_V0/v16/.suo
P_03.5_Calculadora_V0/.vs/P_03.5_Calculadora_V0/v16/Browse.VC.db
P_03.5_Calculadora_V0/.vs/P_03.5_Calculadora_V0/v16/ipch/AutoPCH/53c8d9edb49b3008/P_03.5_CALCULADORA_V0.ipch
*.tlog
*.recipe
*.ilk
*.log
*.obj
*.enc
*.pdb
*.txt
*.idb
*.cpp
P_03.5_Calculadora_V0/P_03.5_Calculadora_V0.sln
P_03.5_Calculadora_V0/P_03.5_Calculadora_V0.vcxproj
P_03.5_Calculadora_V0/P_03.5_Calculadora_V0.vcxproj.filters
P_03.5_Calculadora_V0/P_03.5_Calculadora_V0.vcxproj.user
